# This file tells git what files to ignore when looking at our files.
# Lines that start with '#' are comments.
#
# See https://help.github.com/articles/ignoring-files/ for more info.
#
######################################################################

# Mac OS X makes these files to hold Finder window settings.
# See https://en.wikipedia.org/wiki/.DS_Store for more info.
.DS_Store

# The popular text editor `vi` and its derivatives (like `vim`) make
# files with this extension when auto-saving files being edited.
*.swp

######################################################################
# Common toolchain utilities like package managers, task runners, and
# other such tools typically place configuration files or other stuff
# in the project directory. These aren't actually source code either,
# so we can safely ignore them.
######################################################################

# The `_site` folder is where the final build of our site will be put
# by Jekyll, a static site generator. It becomes the new root of the
# website and is created automatically from our commited source files.
_site/

# Since Jekyll is distributed as a Ruby package (called a Gem), 
# we use Bundler, a Ruby Gems package manager, to configure it.
.bundle/

# Jekyll also caches compiled SASS (CSS), which we don't need.
.sass-cache/

# We also don't want to commit the Gems that Bundler installs
# since they are only useful for developers.
vendor/
