#####################################################################
# This is Jekyll's configuration file for this project.
#
# For more information, see the documentation:
#
#     https://jekyllrb.com/docs/configuration/
#####################################################################

# Site settings
title: Tech Learning Collective
tagline: Technology education for radical organizers and revolutionary communities.
description: >-
    The Tech Learning Collective offers low-cost courses on computer technologies specifically for Left-leaning, politically engaged individuals and groups. Courses cater to people with skill levels ranging from self-identified “beginners” to very experienced technologists.
lang: "en_US" # The primary human language you write in.
timezone: "America/New_York"
type: School

# Build settings
markdown: kramdown
exclude:
  - vendor
  - README.md
  - Gemfile
  - Gemfile.lock
include:
  - .well-known

# Blog settings.
paginate: 5    # How many posts per HTML page.
paginate_path: "/blog/page/:num/"
date_format: "%B %e, %Y"
time_format: "%l:%M %p"

# RSS feed settings.
rss:
  items:            10       # How many posts to include in blog RSS/Atom feeds.
  update_period:    "weekly" # Acceptable values are: `hourly`, `daily`, `weekly`, `monthly`, or `yearly`.
  update_frequency: 1        # How many times in the feed_update_period the feed is updated.
  ttl:              60       # Number of minutes indicating how long to cache the channel content.
  editor_email:     editor@example.invalid # Email of the person responsible for channel content.
  webmaster_email:  editor@example.invalid # Email of the person responsible for technical issues.
  image: &image     "icon.chip.blue.png"

# Course subjects
subject_map:
  net: Networking
  sec: Security
  sys: System Administration
  web: Web Design and Development

# Collections.
#
# Collections are a Jekyll feature that takes structured data and can
# render a page for each item in that data structure. For example, you
# can make a collection of baking recipes and then, for each recipe in
# the collection, you can make a page with its own Web address to show
# the recipe on your Web site.
collections:
  courses:
    output: true
  workshops:
    output: true
    permalink: /:collection/:categories/:title
  events:
    output: true
    permalink: /:collection/:categories/:year/:month/:title
    sort_by: startDate

# Front Matter defaults.
defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: page
  - scope:
      type: courses
    values:
      layout: course
  - scope:
      path: "courses"
    values:
      layout: courses
      backgroundColor: rgba(25, 163, 191, 1)
  - scope:
      type: workshops
    values:
      layout: workshop
      backgroundColor: &workshopsBackgroundColor rgba(111, 106, 51, 1)
  - scope:
      path: "workshops" 
    values:
      backgroundColor: *workshopsBackgroundColor
  - scope:
      path: "events"
    values:
      backgroundColor: &eventsBackgroundColor rgba(126, 0, 152, 1)
  - scope:
      type: events
    values:
      layout: event
      backgroundColor: *eventsBackgroundColor

# iCalendar settings.
iCalendar:
    defaults:
        location: New York, NY
        status: CONFIRMED
        image: *image

# Payment processor integrations.
payments:
  prices:
    application_fee: 25
  processors:
    paypal:
      user_id: techlearningcollective@riseup.net
