<p id="announce-course-pause">
    Due to the loss of our physical venues during the COVID-19 pandemic, Tech Learning Collective course enrollment is paused. While you can still begin the <a href="{% link enrollment/index.md %}">enrollment process</a>, please be aware that no future cohorts are scheduled at this time. Instead, we encourage you to participate in an a la carte <a href="{% link workshops/index.md %}">workshop</a>. View and subscribe to our <a href="{% link events/calendar/index.md %}">events calendar</a> to learn about upcoming virtual workshops.
</p>
