<ul id="course-list">
    {% for course in site.courses %}
    {% assign course_subject = course.slug | slice: 0, 3 %}
    {% assign this_subject = page.title | slice: 0, 3 | downcase %}
    {% if this_subject == course_subject %}
    <li>
        <article>
            <header>
                <h2><a href="{{ course.url | relative_url }}" title="View details for {{ course.title }}">{{ course.title }}</a></h2>
                <a href="{{ course.url | relative_url }}">View course details</a>
                <img src="{{ course.poster | relative_url }}" alt="" />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeUpAqmWZI76yAQZCaFKPGovkYv4mJpWUruMCwRMmfDh2yEzA/viewform?entry.51317831={{ course.slug | upcase | uri_escape }}" class="button">Apply for pre-enrollment in {{ course.slug | upcase }}</a>
            </header>
            {{ course.content }}
            <a href="{{ course.url | relative_url }}">View course details</a>
        </article>
    </li>
    {% endif %}
    {% endfor %}
</ul>
