{% if site.events %}
{% assign events = site.events | where_exp: "event", "event.endDate > site.time" | sort: "startDate" %}
{% if 1 <= events.size %}
<ol class="h-events">
{% for event in events limit: include.limit %}
    <li>
        {% include h-event.html event=event excerpt=true %}
    </li>
{% endfor %}
</ol><!-- .h-events -->
{% else %}
{% unless include.silent %}<p>At this time, we have no upcoming events on our calendar. Check back soon or subscribe to our calendar to learn of events as we publish them.</p>{% endunless %}
{% endif %}
{% else %}
<p>No events&mdash;yet. :)</p>
{% endif %}
