{% if site.events %}
{% assign events = site.events | where_exp: "event", "event.endDate > site.time" | sort: "startDate" %}
{% for event in events limit: include.limit %}
{% if forloop.first %}<ol class="h-events">{% endif %}
    <li>
        {%- include h-event.html event=event excerpt=true -%}
    </li>
{% if forloop.last %}</ol><!-- .h-events -->{% endif %}
{% else %}
{% unless include.silent %}<p>At this time, we have no upcoming events on our calendar. Check back soon or subscribe to our calendar to learn of events as we publish them.</p>{% endunless %}
{% endfor %}
{% else %}
<p>No events&mdash;yet. :)</p>
{% endif %}
