{% if include.entry %}
    {% assign entry = include.entry %}
{% else %}
    {% assign entry = page %}
{% endif %}
<article id="post-{{ entry.id | slugify }}" class="h-entry hentry">
    <header>
        <h1 class="p-name entry-title" role="heading" aria-level="{% if "post" == page.layout %}2{% else %}3{% endif %}">
            <a href="{{ entry.url }}" class="u-url">{{ entry.title }}</a>
        </h1>
        <p>
            <time class="dt-published published" datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | date: site.date_format }}</time>
        </p>
        {% if entry.authors %}
        <p class="ByLine">
            By
            {% for a in entry.authors %}
                <span class="p-author">{{ site.data.authors[a].name }}</span>{% unless forloop.last %}, {% endunless %}
                {% if forloop.last and forloop.index > 1 %}and{% endif %}
            {% endfor %}
        </p>
        {% endif %}
        {% if entry.image %}
        <img src="{{ entry.image | relative_url }}" alt="{{ entry.image_alt }}" class="u-featured" loading="lazy" />
        {% endif %}
    </header>

    {% for t in entry.translations %}
    {% if forloop.first %}
    <p>Translations:
    {% endif %}
    <a href="{{ t[1] }}" hreflang="{{ t[0] }}">{{ t[0] }}</a>{% unless forloop.last %},{% else %}.{% endunless %}
    {% if forloop.last %}
    </p>
    {% endif %}
    {% endfor %}

    <section class="e-content entry-content"{% if include.lang %} lang="{{ include.lang }}"{% endif %}>
        {% if include.excerpt_only %}{{ entry.excerpt | markdownify }}{% else %}{{ content }}{% endif %}
    </section>

    <footer>
        {% if include.excerpt_only and entry.excerpt != entry.content %}
        <p class="ReadMore"><a href="{{ entry.url | relative_url }}">Continue reading&hellip;</a>.</p>
        {% endif %}

        {% unless include.excerpt_only %}
            {% assign event = site.data.events | where: "Summary", include.entry.event_summary | first %}
            {% if event %}
                {% include h-event.html event=event %}
                {% include h-events-download-links.html %}
            {% endif %}
            {% if page.previous or page.next %}
            <p>Continue to:</p>
            <ul class="Pagination">
                {% if page.previous %}
                <li class="PaginationPrev">
                    Earlier post: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                </li>
                {% endif %}
                {% if page.next %}
                <li class="PaginationNext">
                    Later post: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        {% endunless %}
    </footer>
</article>
