{% assign event = include.event %}

{% assign place_index = event.location | replace: " ", "_" %}
{% assign place = site.data.places[place_index] %}

{% if include.excerpt %}
    {% assign event_description = event.content | markdownify | strip_html | truncatewords: 20, "" | strip %}
{% else %}
    {% assign event_description = event.content | strip %}
{% endif %}

{% assign default_image = "/static/images/" | append: site.iCalendar.defaults.image | relative_url %}
{% assign x = event.image | split: ":" | first %}
{% if "http" == x or "https" == x %}
    {% assign event_image = x %}
{% elsif x != nil %}
    {% assign event_image = "/static/images/" | append: x | relative_url %}
{% else %}
    {% assign event_image = default_image %}
{% endif %}

{% comment %}
Old Microformat converters need `vevent` class values
to be set on DIV elements, not ARTICLEs.
{% endcomment %}
<div class="h-event vevent">
<article itemscope="itemscope" itemtype="https://schema.org/{{ event.type | default: "Event" }}">
    <header>

        <a href="{{ event.url | relative_url }}" class="u-url url" itemprop="url">
            <img src="{{ event_image }}" alt="" itemprop="image" />
            <h2 class="p-summary summary p-name" itemprop="name">
                    {{ event.name | default: event.title }}
            </h2>
        </a>
        <ul class="event-meta">
            <li class="event-datetime">
                <abbr class="dt-start dtstart" title="{{ event.startDate | date_to_xmlschema }}">
                    <span>{{ event.startDate | date: site.date_format }}</span>
                    <span>{{ event.startDate | date: site.time_format }}</span>
                </abbr>
                &ndash;
                <abbr class="dt-end dtend" title="{{ event.endDate | date_to_xmlschema }}">
                    <span>{{ event.endDate | date: site.date_format }}</span>
                    <span>{{ event.endDate | date: site.time_format }}</span>
                </abbr>
                <meta itemprop="startDate" content="{{ event.startDate | date_to_xmlschema }}" />
                <meta itemprop="endDate" content="{{ event.endDate | date_to_xmlschema }}" />
            </li><!-- .event-datetime -->
            {% if event.doorTime %}
            <li class="event-doortime">
                (Doors at {{ event.doorTime | date: site.time_format }})
                <meta itemprop="doorTime" content="{{ event.doorTime | date_to_xmlschema }}" />
            </li><!-- .event-doortime -->
            {% endif %}
            <li class="p-location location" itemprop="location" itemscope="itemscope" itemtype="https://schema.org/{{ place.type | default: "Place" }}">
                {% if place %}
                {% include h-card.html entity=place isOrg=true %}
                {% else %}
                <span itemprop="address">{{ event.location }}</span>
                {% endif %}
            </li><!-- .p-location -->
            <li class="event-status">
                {% include h-event-status.html event=event %}
            </li>
        </ul>
    </header>

    <section class="offers">

        {% if event.isAccessibleForFree %}
        <p>
            Free or donation-based!
            <meta itemprop="isAccessibleForFree" content="true" />
        </p>
        {% endif %}

        {% if event.offers %}
        <p>Tickets:</p>
        <ul itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/AggregateOffer">
        {% for offer in event.offers %}
        <li>
            {% include schema-offer.html offer=event.offer %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}

    </section><!-- .offers -->

    {% if event_description %}
    <section itemprop="description">
        <div class="p-description description">
            {{ event_description -}}
            {%- if include.excerpt -%}… (<a href="{{ event.url }}">read more</a>)
            {% endif %}
        </div><!-- .p-description -->
    </section>
    {% endif %}

    {% if event.performers %}
    <section class="performances">
        <h2>Performances by</h2>
        <ul>
        {% for key in event.performers %}
            {% include schema-OrganizationOrPerson.html property="performer" key=key html_element="li" %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if event.organizers %}
    <section class="organizers">
        <h2>Presented by</h2>
        <ul>
        {% for key in event.organizers %}
            {% include schema-OrganizationOrPerson.html property="organizer" key=key html_element="li" %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    <footer>
        {% if include.download_link %}
        <p><a href="https://h2vx.com/ics/get-cal.php?uri={{ event.url | absolute_url | cgi_escape }}">Save this event to your calendar</a>.</p>
        {% endif %}

        {% comment %}
        <!--
            Not safe until `sort_by` colletion metadata key is implemented.
            See https://github.com/jekyll/jekyll/pull/7427
        -->
        {% if include.paginate %}
        {% if event.next or event.previous %}
        <ul class="Pagination">
            {% if event.next %}
            <li class="next-page">
                <a href="{{ event.next.url }}">&larr; Previous event</a>{% comment %} "Previous" events are chronology next. {% endcomment %}
            </li>
            {% endif %}

            {% if event.previous %}
            <li class="prev-page">
                <a href="{{ event.previous.url }}">Next event &rarr;</a>{% comment %} "Next" events are chronology previous. {% endcomment %}
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endif %}
        {% endcomment %}
    </footer>

    {% for sameAs in event.sameAs %}
    <meta itemprop="sameAs" content="{{ sameAs }}" />
    {% endfor %}
</article>
</div><!-- .h-event -->
