{% assign event = include.event %}

{% if event.location.first %}
    {% assign place = event.location %}
{% else %}
    {% assign place_index = event.location | replace: " ", "_" %}
    {% assign place = site.data.places[place_index] %}
{% endif %}

{% if include.excerpt %}
    {% assign event_description = event.excerpt | default: event.teaser | default: include.description | default: event.content | default: event.description | markdownify | strip_html | truncatewords: 50, "" | strip %}
{% else %}
    {% assign event_description = include.description | default: event.content | default: event.simple_html_description | strip %}
{% endif %}

{% assign default_image = site.iCalendar.defaults.image | relative_url %}
{% assign event_image = include.image %}
{% for i in event.image %}
    {% comment %} If an array, "coerce" to string. {% endcomment %}
    {% assign event_image = i %}
{% endfor %}
{% assign x = event_image | split: ":" | first %}
{% if "http" == x or "https" == x %}
    {% comment %} Event image already an absolute URI; don't change it. {% endcomment %}
{% elsif x != nil %}
    {% assign event_image = x | relative_url %}
{% else %}
    {% assign event_image = include.image | default: default_image %}
{% endif %}

{% comment %}
Old Microformat converters need `vevent` class values
to be set on DIV elements, not ARTICLEs.
{% endcomment %}
<div id="{{ event.name | default: event.title | default: event.summary | prepend: "-" | prepend: event.startDate | slugify }}" class="h-event vevent">
<article itemscope="itemscope" itemtype="https://schema.org/{{ event.type | default: "Event" }}">
    <header>

        <a href="{{ event.url | relative_url }}" class="u-url url" itemprop="url">
            <h2 class="p-summary summary p-name" itemprop="name">
                {{ event.name | default: event.title | default: event.summary }}
            </h2>
            <img src="{{ event_image }}" alt="" itemprop="image" loading="lazy" />
        </a>
        <ul class="event-meta">
            <li class="event-datetime">
                <abbr class="dt-start dtstart" title="{{ event.startDate | default: event.start_time | date_to_xmlschema }}">
                    <span>{{ event.startDate | default: event.start_time | date: site.date_format }}</span>
                    <span>{{ event.startDate | default: event.start_time | date: site.time_format }}{% if "Remote" == event.location %} ({{ event.startDate | date: "%z" }}){% endif %}</span>
                </abbr>
                &ndash;
                <abbr class="dt-end dtend" title="{{ event.endDate | default: event.end_time | date_to_xmlschema }}">
                    <span>{{ event.endDate | default: event.end_time | date: site.date_format }}</span>
                    <span>{{ event.endDate | default: event.end_time | date: site.time_format }}</span>
                </abbr>
                <meta itemprop="startDate" content="{{ event.startDate | date_to_xmlschema }}" />
                <meta itemprop="endDate" content="{{ event.endDate | date_to_xmlschema }}" />
            </li><!-- .event-datetime -->
            {% if event.doorTime %}
            <li class="event-doortime">
                (Doors at {{ event.doorTime | date: site.time_format }})
                <meta itemprop="doorTime" content="{{ event.doorTime | date_to_xmlschema }}" />
            </li><!-- .event-doortime -->
            {% endif %}
            <li class="p-location location" itemprop="location" itemscope="itemscope" itemtype="https://schema.org/{{ place.type | default: "Place" }}">
                {% if place %}
                {% include h-card.html entity=place isOrg=true %}
                {% else %}
                <span itemprop="address">{{ event.location }}</span>
                {% endif %}
            </li><!-- .p-location -->
            <li class="event-status">
                {% include h-event-status.html event=event %}
            </li>
        </ul>
    </header>

    <section class="offers">

        {% if event.isAccessibleForFree %}
        <p>
            Free or donation-based!
            <meta itemprop="isAccessibleForFree" content="true" />
        </p>
        {% endif %}

        {% if event.offers and site.time < event.endDate %}
        {% if 'events' == page.collection %}
        <h2 id="tickets-{{ page.slug }}">Tickets</h2>
        {% else %}
        <p>Tickets:</p>
        {% endif %}
        <ul itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/AggregateOffer">
        {% for offer in event.offers %}
        <li>
            {% include schema-offer.html offer=event.offer event=event %}
        </li>
        {% endfor %}
        </ul>
        <p><small>Prices shown may exclude nominal handling fees. All sales are final and non-transferable. When you make a purchase, our payment processor retains a copy of your billing information, which may include your legal name, address, and other details.</small></p>

        {% comment %}
        <!-- PayPal is the fallback processor, so if it's also the primary one, disable fallback links. -->
        {% endcomment %}
        {% unless "paypal" == event.payment_processor %}
        <p><small><a href="#tickets-fallback-event-{{ event.slug | slugify }}">Problems with your RSVP?</a></small></p>
        <div id="tickets-fallback-event-{{ event.slug | slugify }}" class="tickets-fallback">
            <p>Use these fallback links if you are having trouble using our automated ticketing system. Please allow an extra 24 hours for your RSVP to be confirmed. Amounts shown do not include a nominal processing fee.</p>
            <p>If you have any further problems, please <a href="{% link contact/index.md %}">contact us</a> to let us know!</p>
            <ul itemprop="offers" itemscope="itemscope" itemtype="https://schema.org/AggregateOffer">
            {% for offer in event.offers %}
            <li>
                {% include schema-offer.html offer=event.offer event=event fallback=true %}
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endunless %}

        <div id="tickets-fallback-event-thank-you-{{ event.slug | slugify }}" class="tickets-fallback">
            {% if event.webinar_id %}
            <p>Thank you for purchasing a ticket to our upcoming &ldquo;{{ event.title }}&rdquo; webinar. <strong>Please allow several minutes for delivery of your webinar access credentials to the email address associated with your payment processor account.</strong> Remember to check your spam folder, as well!</p>
            <p>If you still don&rsquo;t receive your webinar access credentials after one hour, please <a href="{% link contact/index.md %}">contact us</a> and we&rsquo;ll help you get it sorted.</p>
            {% else %}
            <p>Thank you for your order! We have received your information, but <strong>please allow an extra 24 hours for your order to be confirmed</strong> in our ticketing system.</p>
            <p>If the event to which you RSVP&rsquo;d is in less than 24 hours, please bring your payment receipt with you!</p>
            {% endif %}
        </div>
        <div id="tickets-fallback-event-cancelled-{{ event.slug | slugify }}" class="tickets-fallback">
            <p>Your order has been cancelled.</p>
        </div>
        {% elsif event.offers %}
        <p>Tickets are no longer available for this event because the event has passed.</p>
        <p>View <a href="{% link events/upcoming/index.md %}">upcoming events</a> or <a href="{% link events/calendar/index.md %}">subscribe to our events calendar</a> to make sure you catch the next one.</p>
        {% endif %}

    </section><!-- .offers -->

    {% if event_description %}
    <section itemprop="description">
        {% unless include.excerpt %}<h2>Event description</h2>{% endunless %}
        <div class="p-description description">
            {{ event_description -}}
            {%- if include.excerpt -%}… (<a href="{{ event.url }}">read more</a>)
            {% endif %}
        </div><!-- .p-description -->
    </section>
    {% endif %}

    {% if event.performers %}
    <section class="performances">
        <h2>Performances by</h2>
        <ul>
        {% for key in event.performers %}
            {% include schema-OrganizationOrPerson.html property="performer" key=key html_element="li" %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if event.organizers %}
    <section class="organizers">
        <h2>Presented by</h2>
        <ul>
        {% for key in event.organizers %}
            {% include schema-OrganizationOrPerson.html property="organizer" key=key html_element="li" %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    <footer>
        {% if include.download_link %}
        <p><a href="https://h2vx.com/ics/get-cal.php?uri={{ event.url | absolute_url | cgi_escape }}">Save this event to your calendar</a>.</p>
        {% endif %}

        {% comment %}
        <!--
            Not safe until `sort_by` colletion metadata key is implemented.
            See https://github.com/jekyll/jekyll/pull/7427
        -->
        {% if include.paginate %}
        {% if event.next or event.previous %}
        <ul class="Pagination">
            {% if event.next %}
            <li class="next-page">
                <a href="{{ event.next.url }}">&larr; Previous event</a>{% comment %} "Previous" events are chronology next. {% endcomment %}
            </li>
            {% endif %}

            {% if event.previous %}
            <li class="prev-page">
                <a href="{{ event.previous.url }}">Next event &rarr;</a>{% comment %} "Next" events are chronology previous. {% endcomment %}
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endif %}
        {% endcomment %}
    </footer>

    {% for sameAs in event.sameAs %}
    <meta itemprop="sameAs" content="{{ sameAs }}" />
    {% endfor %}
</article>
</div><!-- .h-event -->
