{% assign review = include.review %}
<div class="h-review hreview"
    itemscope="itemscope"
    itemtype="https://schema.org/Review">
    <h2 class="p-name summary" itemprop="name">{{ review.title }}</h2>

    <div class="p-author reviewer" itemprop="author">
        <span>Read what</span>
        {% include h-card.html entity=review.author %}
        had to say about
        <span class="p-item item h-card vcard fn" itemprop="itemReviewed" itemscope="itemscope" itemtype="https://schema.org/{{ site.type }}">
            <span itemprop="name">{{- site.title -}}</span>
        </span>
        on
        <abbr class="dtreviewed"
            title="{{ review.datePublished | date_to_xmlschema }}"
            itemprop="datePublished">
            {{ review.datePublished | date: site.date_format -}}
        </abbr>:
    </div>

    <blockquote class="e-content description" itemprop="description">{{ review.content }}</blockquote>

    {% if review.reviewUrl %}
    <p style="text-align: right;"><a href="{{ review.reviewUrl }}" class="u-url permalink">Read review in original context. &rarr;</a></p>
    {% endif %}
</div>
