{% assign row = include.matrix[0] %}
{% assign col = include.matrix[1] %}
<div class="persona-training-container">
    Persona matrix:
    <div class="persona-training-graph">
        <div{% if row > 0 %} class="persona-match-row"{% endif %}>
            <div{% if col > 0 %} class="persona-match-col"{% endif %} title="Individuals versus Random Assholes"></div>
            <div{% if col > 1 %} class="persona-match-col"{% endif %} title="Individuals versus Assholes with Resources"></div>
            <div{% if col > 2 %} class="persona-match-col"{% endif %} title="Individuals versus The State"></div>
        </div>
        <div{% if row > 1 %} class="persona-match-row"{% endif %}>
            <div{% if col > 0 %} class="persona-match-col"{% endif %} title="Organizers and Jouranlists versus Random Assholes"></div>
            <div{% if col > 1 %} class="persona-match-col"{% endif %} title="Organizers and Jouranlists versus Assholes with Resources"></div>
            <div{% if col > 2 %} class="persona-match-col"{% endif %} title="Organizers and Journalists versus The State"></div>
        </div>
        <div{% if row > 2 %} class="persona-match-row"{% endif %}>
            <div{% if col > 0 %} class="persona-match-col"{% endif %} title="Targeted Activists versus Random Assholes"></div>
            <div{% if col > 1 %} class="persona-match-col"{% endif %} title="Targeted Activists versus Assholes with Resources"></div>
            <div{% if col > 2 %} class="persona-match-col"{% endif %} title="Targeted Activists versus The State"></div>
        </div>
    </div>
    (<a href="{% link about/persona-training-matrix.md %}">What&rsquo;s this?</a>)
</div><!-- .persona-training-container -->
