{% assign key = include.key %}
{% assign k = key | replace: " ", "_" %}
{% if site.data.people[k] %}
    {% assign item = site.data.people[k] %}
    {% assign isOrg = false %}
{% elsif site.data.organizations[k] %}
    {% assign item = site.data.organizations[k] %}
    {% assign isOrg = true %}
{% else %}
    {% assign item = key %}
    {% assign isOrg = nil %}
{% endif %}
<{{ include.html_element }} itemprop="{{ include.property }}"{% if item.type %} itemscope="itemscope" itemtype="https://schema.org/{{ item.type }}"{% endif %}>
{%- capture html -%}
{%- if true == isOrg -%}
    {%- include h-card.html entity=item isOrg=true -%}
{% elsif false == isOrg %}
    {%- include h-card.html entity=item -%}
{% else %}
    {{- item -}}
{% endif %}
{%- endcapture -%}
{{- html | strip_newlines -}}
</{{ include.html_element }}>
