/**
 * @group Reset.
 */
html, body, ul, ol, h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    border: none;
    padding: 0;
    list-style: none;
}

/**
 * @group Typography.
 */
@font-face {
    font-family: "MonoSpatial";
    src: url("../fonts/MonoSpatial.ttf");
}
@font-face {
    font-family: "Gidole";
    src: url("../fonts/Gidole-Regular.ttf");
}
a {
    color: #FFF;
    text-decoration-skip-ink: auto;
}
p, main li {
    line-height: 1.5em;
}
main ul li, main ol ul li {
    list-style: disc;
}
main ol li {
    list-style: decimal;
}

/**
 * @group Main.
 */
body {
    display: grid;
    grid-template-columns: 350px minmax(350px, auto);
    padding: 25px;
    background: #372BFB;
    font: 12pt "Gidole";
    color: #FFF;
    height: calc(100vh - 50px);
}

h1 {
    font: 18pt "MonoSpatial";
}
main p:not(:first-child) {
    margin: 1em 0;
    text-indent: 2rem;
}
main li {
    margin: 0 0 1em 0;
}
ol ul {
    margin-left: 2em;
}

header {
    display: grid;
    grid-template-rows: 75px minmax(100px, max-content) auto;
}

nav a {
    text-decoration: none;
}
nav > ul {
    padding-bottom: 60px;
    background: url("/static/images/icon.chip.transparent.png") 0 bottom / 60px no-repeat;
}
nav li {
    font-weight: bold;
    margin-bottom: 1rem;
}
nav li li {
    font-weight: normal;
    margin-bottom: 0;
}

main {
    box-sizing: border-box;
    padding: 75px 20px 0;
}
body.page main {
    max-height: 100%;
    columns: 2;
    column-gap: 2rem;
    overflow: auto;
}
main h2,
main h3 {
    margin-bottom: 1em;
}
main h3 {
    margin-top: 1em;
}

img#spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -100px;
    animation: spin 15s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#subjects-list {
    margin-top: 2rem;
}
#subjects-list li {
    list-style: none;
    align-items: baseline;
    font-size: 36pt;
    line-height: 1em;
}
#subjects-list a {
    text-decoration: none;
}
#subjects-list span:last-child {
    font-size: 24pt;
}
#subjects-list span:first-child {
    display: inline-block;
    width: 3em;
}
#subjects-list a:hover span {
    text-decoration: underline;
}
#course-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 1rem 1rem;
}
#course-list li {
    list-style: none;
}
#course-list header {
    display: block;
}
#course-list header img,
.course-poster {
    display: block;
    box-shadow: 0 0 3px #F0F8FF;
    margin-bottom: 1em;
    border-radius: .25rem;
    max-width: 100%;
}

/**
 * @group Footer.
 */
footer {
    position: fixed;
    bottom: 25px;
    right: 0;
    font-size: 8pt;
    writing-mode: vertical-rl;
    opacity: .5;
}
footer p {
    margin: .25rem;
}

@media screen and (max-width: 900px) {
    body {
        display: block;
        height: auto;
    }
    header {
        display: block;
    }
    #Tagline {
        margin: 1em 0;
    }
    body.page main {
        max-height: unset;
        columns: initial;
        overflow: initial;
    }
    nav > ul {
        display: flex;
        padding-bottom: 0;
        padding-right: 60px;
        background-position: right 0;
    }
    nav li {
        flex-grow: 1;
    }
    main {
        padding: 20px 0 0 0;
    }
    img#spinner {
        top: initial;
    }
    #subjects-list li {
        display: list-item;
    }
    #subjects-list span:first-child {
        display: block;
        width: auto;
    }
    #course-list {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
}
