---
layout: none
---

/**
 * @group DEV/DIAGNOSTICS.
 */
img {
    max-width: 100%;
}

/**
 * @group Reset.
 */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    border: none;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

/**
 * @group Global variables.
 */
:root {
    --main-fg-color: #000;
    --main-bg-color: #ffecb2;
}

/**
 * @group Typography.
 */
@font-face {
    font-family: "MonoSpatial";
    src: url("../fonts/MonoSpatial.ttf");
}
@font-face {
    font-family: "Gidole";
    src: url("../fonts/Gidole-Regular.ttf");
}
a:link {
    color: inherit;
}
a:link:hover {
    text-decoration: none;
}
body {
    color: var(--main-fg-color);
    font-family: Gidole;
}
h1 {
    font-size: 2.5em;
}
h1[aria-level="3"] {
    margin: 1em 0 .5em;
    font-size: 1.5em;
    line-height: 1em;
}
article > h1 {
    border-top: 10px solid;
}
h2 {
    font-size: 2em;
}
h2[aria-level="4"] {
    font-size: 1.25em;
}
main > section > h2,
article > h2,
article > h3,
#course-list h2,
.event .h-event h1,
.post .h-entry h1 {
    padding: .25em;
    text-align: center;
}
main > h2,
.post .h-entry h2 {
    padding: .25em;
}
main > h2,
section > h2,
article > h2,
article > h3,
#course-list h2,
.event .h-event h1,
.event-datetime,
.post .h-entry h1 {
    background: var(--main-fg-color);
    color: var(--main-bg-color);
}
p,
article > ol li,
article > ul li {
    margin: 1em 0;
    line-height: 1.25em;
}
article ol:not(.h-events):not(.posts-wrapper):not(.katacoda-scenarios) {
    list-style-type: decimal;
}

/**
 * @group Layout.
 */
body {
    margin: 25px 50px;
    background: var(--main-bg-color);
}
main {
    margin: 2rem 0 10rem 0;
}
main > section {
    clear: both;
}
body > header,
#Hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#Tagline {
    margin: 0;
    font-size: 42px;
}
#Hero {
    margin: 2em 0 4em 0;
}
#Hero li {
    margin: .25em 0;
}
#Hero p:first-child,
.entry-content p:first-child {
    margin-top: 0;
}
#MainFooter {
    position: fixed;
    bottom: 0;
    right: 175px;
}
#MainFooter p {
    margin: .25rem;
    font-size: 8pt;
    color: #FFF;
}

/**
 * @group Navigation.
 */
#site-navigation {
    display: none;
}
#MainNavigation {
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    padding: 20px;
    background: #000;
    width: 100%;
    color: #d0d0d0;
}
#MainNavigation > ul {
    display: flex;
}
#MainNavigation li {
    padding: 0 40px 0 0;
    font-weight: bold;
}
#MainNavigation li li {
    padding: 0;
    font-weight: normal;
}
#MainNavigation a {
    color: inherit;
    text-decoration: none;
}
#MainNavigation a:hover {
    text-decoration: underline;
}
#MainNavigation .icon[src$=".svg"] {
    filter: invert(100%);
}

/**
 * @group Events.
 */
.h-event .h-adr,
.event-status,
.h-event .performances,
.h-event .organizers {
    display: none;
}
.h-event header img {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 1em;
}
.h-event h2,
.event-meta li {
    padding: .25em;
}
.event-meta li,
.offers h2 {
    margin: 0 0 .5em 50%;
}
span[itemprop="address"]::after {
    content: " (Web address provided to ticket holders.)"
}
ul[itemprop="offers"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    width: 100%;
}
.offers span[itemprop="name"]::after {
    content: ": ";
}
.offers .tickets-fallback {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
.offers .tickets-fallback:target {
    margin: 1em 0;
    padding: 0 2em;
    border: 2px dotted;
    max-height: 9999px;
}

/**
 * @group Blog posts.
 */
.post .h-entry h1 {
    margin-bottom: .5rem;
}
.post .h-entry h1 a {
    color: inherit;
    text-decoration: none;
}
.posts-wrapper li {
    clear: both;
    padding-top: 1em;
}
.h-entry {
    position: relative;
    margin-left: 50%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-fg-color);
    min-height: 450px;
}
.h-entry:last-child {
    border-bottom: none;
}
.u-featured {
    position: absolute;
    top: 0;
    left: -100%;
    width: 90%;
}
.Pagination {
    text-align: right;
}
.Pagination li {
    display: inline;
}
footer .Pagination li {
    display: list-item;
}

/**
 * @group Icons.
 */
.icon,
.h-event .u-photo {
    width: 1em;
}

/**
 * @group Buttons.
 */
a.button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 1em;
    background: #19BFBF;
    box-shadow: -2px 5px 10px var(--main-fg-color);
    text-decoration: none;
}
a.button:hover {
    text-decoration: underline;
    box-shadow: -2px 5px 10px;
    border-color: yellow;
}

/**
 * @group Flourishes.
 */
body > header > h1 img {
    filter: invert(100%);
    animation: spin 20s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.dotleader {
    overflow: hidden;
}
.dotleader td:first-child::before {
    content:
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    ".............................................."
    "..............................................";
    width: 0;
    float: left;
    z-index: -99;
}
.dotleader span {
    background-color: var(--main-bg-color);
}
table.dotleader.price {
    width: 100%;
    margin-bottom: 1em;
}
table.price th:first-child{
    text-align: left;
}
table.price th:last-child,
table.price td:last-child {
    text-align: right;
}
table.price tr:not(.no-currency) td:last-child::before {
    content: "$";
    background-color: var(--main-bg-color);
}
table.price tr:not(.no-currency) td:last-child::after {
    content: " USD";
    background-color: var(--main-bg-color);
}
table.price td:last-child {
    position: relative;
    height: 3em;
}
table.price td:last-child span[title]::after {
    position: absolute;
    right: 0;
    top: 0;
    content: attr(title);
    font-size: x-small;
    white-space: pre;
}

/**
 * @group Student applications.
 */
#pay-application-fee,
#payment-thank-you,
#cancelled-payment {
    display: none;
}
#pay-application-fee:target,
#payment-thank-you:target,
#cancelled-payment:target {
    display: block;
}

/**
 * @group Testimonials.
 */

#featured-testimonials > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 100px;
}

.h-review {
    position: relative;
    min-height: 160px;
    padding-bottom: 3em;
    font-size: 16px;
}
.h-review .u-photo {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 160px;
}
.h-review p {
    font-size: 16px;
}
article .h-review a {
    text-decoration: none;
}
#featured-testimonials .h-review p:last-child {
    margin-left: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#featured-testimonials .h-review blockquote { display: none; }
.h-review .p-author div,
.h-review .h-card {
    display: inline;
}
.h-review .u-photo[src$="icon.chip.transparent.png"] {
    filter: invert(100%);
}
.h-review h3.p-summary,
.h-review .p-author,
.h-review h3.p-name,
.h-review .e-content,
article .h-review .u-url.permalink {
    margin-left: 200px;
}
.h-review .p-name {
    margin-bottom: .5em;
}

/**
 * @group Workshops.
 */
/* `workshop_categoy` layout */
.workshop_category main ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-top: 25px;
}

#workshop-catalogue {
    display: grid;
    grid-template-areas: "categories sidebar";
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}
#workshop-catalogue section {
    grid-area: sidebar;
}
#workshop-catalogue #workshops {
    grid-area: categories;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em 1em;
}
/* `workshop-category` elements */
.workshop-category ul {
    display: none;
}

/**
 * @group Workshop Page.
 */
main .workshop {
    display: grid;
    grid-template:
        "image workshop-upcoming-events"
        "image workshop-details"
        "image workshop-videos"
        "image footer"
    ;
    grid-column-gap: 20px;
    margin-top: 1em;
}
main .workshop img {
    grid-area: image;
}
.workshop-details {
    grid-area: workshop-details;
}
.workshop-details .skip-to-calendar {
    display: none;
}
.workshop-upcoming-events {
    grid-area: workshop-upcoming-events;
}
.workshop-upcoming-events li {
    list-style-position: inside;
}
.workshop-videos {
    grid-area: workshop-videos;
}
main .workshop footer {
    grid-area: footer;
}

div.persona-training-container {
    float: right;
    margin-top: 1.5em;
    width: 120px;
    font-size: small;
    text-align: center;
}
div.persona-training-graph {
    display: grid;
}
div.persona-training-graph > div {
    display: flex;
}
div.persona-training-graph > div > div {
    flex: 1;
    height: 15px;
    border: 1px solid yellow;
    background: #000;
}
div.persona-training-graph .persona-match-row .persona-match-col {
    background: red;
}

/**
 * @group Foundations (Katacoda) scenarios and learning modules.
 */
ol.katacoda-scenarios {
    display: flex;
    flex-wrap: wrap;
    counter-reset: learning-module;
}
ol.katacoda-scenarios li {
    min-width: 200px;
    margin: 0 auto 3em 0;
    width: 25%;
    padding: 2em;
    background: #4183C4;
    counter-increment: learning-module;
}
ol.katacoda-scenarios h4 {
    border: none;
    background: transparent;
    font-size: xx-large;
    line-height: 1.2em;
    color: white;
}
ol.katacoda-scenarios h4::before {
    content: counter(learning-module) ". ";
}
ol.katacoda-scenarios p,
ol.katacoda-scenarios .button {
    color: #DDD;
}
ol.katacoda-scenarios .button {
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    background: #FD7700;
    text-align: center;
}

/**
 * @group Courses.
 */
#subjects-list {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
#subjects-list li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: .1em;
    list-style: none;
    font-size: 36pt;
    text-align: center;
    background: #000;
    color: var(--main-bg-color);
    height: 5em;
}
#subjects-list a {
    text-decoration: none;
    width: 100%;
}
#subjects-list span:last-child {
    font-size: 24pt;
}
#subjects-list span:first-child {
    display: block;
}
#subjects-list a:hover span {
    text-decoration: underline;
}
#course-list h2 {
    line-height: 1em;
}
.course-poster {
    width: 100%;
}
