/**
 * @group Reset.
 */
html, body, ul, ol, h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    border: none;
    padding: 0;
    list-style: none;
}

/**
 * @group Typography.
 */
@font-face {
    font-family: "MonoSpatial";
    src: url("../fonts/MonoSpatial.ttf");
}
@font-face {
    font-family: "Gidole";
    src: url("../fonts/Gidole-Regular.ttf");
}
a {
    color: #FFF;
    text-decoration-skip-ink: auto;
}
a:hover {
    text-decoration-style: dashed;
}
.icon {
    width: 1em;
}
.icon[src$=".svg"] {
    filter: invert(100%);
}
.icon.calendar {
    margin-right: .25em;
}
p, main li {
    line-height: 1.5em;
}
main ul li, main ol ul li {
    list-style: disc;
}
main ol:not(.h-events) li,
main ol:not(.posts-wrapper) li,
{
    list-style: decimal;
}
.dotleader {
    overflow: hidden;
}
.dotleader td:first-child::before {
    content:
        ".............................................."
        ".............................................."
        ".............................................."
        ".............................................."
        ".............................................."
        "..............................................";
    width: 0;
    float: left;
    z-index: -99;
}
.dotleader span {
    background-color: inherit;
}

/**
 * @group Main.
 */
body {
    display: grid;
    grid-template-columns: 350px minmax(350px, auto);
    padding: 25px;
    background: #372BFB;
    font: 12pt "Gidole";
    color: #FFF;
    height: calc(100vh - 50px);
}

h1 {
    font: 18pt "MonoSpatial";
    margin-bottom: 1em;
}
main p:not(:first-child) {
    margin: 1em 0;
    text-indent: 2rem;
    text-align: justify;
}
main li {
    margin: 0 0 1em 0;
    text-align: justify;
}
ol ul {
    margin-left: 2em;
}

header {
    display: grid;
    grid-template-rows: 75px minmax(100px, max-content) auto;
}

nav a {
    text-decoration: none;
}
nav > ul {
    padding-bottom: 60px;
    background: url("/static/images/icon.chip.transparent.png") 0 bottom / 60px no-repeat;
}
nav li {
    margin-bottom: 1rem;
    font-weight: bold;
    border-left: 0 solid white;
    transition:
        margin-left .25s,
        border-left-width .25s,
        padding-left .25s;
}
nav li:hover {
    margin-left: -25px;
    border-left-width: 15px;
    padding-left: 10px;
}
nav li li {
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 0;
}
nav li:hover li:hover {
    margin-left: -25px;
    border-left-width: 25px;
    padding-left: 5px;
}

main {
    box-sizing: border-box;
    padding: 75px 20px 0 30px;
}
body.page main {
    max-height: 100%;
    columns: 2;
    column-gap: calc(2rem - 15px);
    overflow: auto;
}
body.page article {
    padding-right: 15px;
}
main h2,
main h3 {
    margin-bottom: 1em;
    text-align: left;
}
main h3 {
    margin-top: 1em;
}

/**
 * @group Images.
 */
img {
    box-shadow: 0 0 3px #F0F8FF;
}
img#spinner,
img.icon {
    box-shadow: none;
}

img#spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -100px;
    animation: spin 15s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#subjects-list {
    margin-top: 2rem;
}
#subjects-list li {
    list-style: none;
    align-items: baseline;
    font-size: 36pt;
    line-height: 1em;
    text-align: left;
}
#subjects-list a {
    text-decoration: none;
}
#subjects-list span:last-child {
    font-size: 24pt;
}
#subjects-list span:first-child {
    display: inline-block;
    width: 3em;
}
#subjects-list a:hover span {
    text-decoration: underline;
}
#course-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 1rem 1rem;
}
#course-list li {
    list-style: none;
}
#course-list header {
    display: block;
}
#course-list header img,
.course-poster,
.h-event img {
    display: block;
    margin-bottom: 1em;
    margin-left: 3px;
    border-radius: .25rem;
    max-width: calc(100% - 6px);
}

table.price th:first-child{
    text-align: left;
}
table.price th:last-child,
table.price td:last-child {
    text-align: right;
}
table.price td:last-child::before {
    content: "$";
}
table.price td:last-child::after {
    content: " USD";
}

/**
 * @group Microformats and structured data.
 */
.h-event {
    margin: 0 0 2em 0;
}
.h-event header,
.h-entry header {
    display: block;
}
.h-event footer {
    position: static;
    writing-mode: initial;
    font-size: inherit;
    opacity: 1;
}
.event-meta li {
    list-style-type: none;
}
.h-event .u-photo,
.h-event .event-status,
.h-event .performances,
.h-event .organizers {
    display: none;
}
.p-street-address::after,
.p-extended-address::after,
.p-locality::after,
.p-postal-code::after {
    content: ",";
}

.h-entry .e-content p:first-child {
    margin-bottom: 1em;
}

/**
 * @group Workshop pages.
 */
.workshop article img:first-of-type {
    float: right;
    width: 50%;
    margin: 0 0 1em 1em;
}
.workshop-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 1em;
}
.workshop-list ul li {
    list-style-type: none;
}
.workshop-list img {
    display: block;
    margin-bottom: .25em;
    max-width: 100%;
}
.workshop-collection img {
    box-shadow: none;
}
h4 {
    text-align: center;
}
div.persona-training-container {
    float: right;
    margin: 0 0 1em 2em;
    font-size: small;
    text-align: center;
}
div.persona-training-graph {
    display: grid;
}
div.persona-training-graph > div {
    display: flex;
}
div.persona-training-graph > div > div {
    flex: 1;
    height: 15px;
    border: 1px solid yellow;
    background: #000;
}
div.persona-training-graph .persona-match-row .persona-match-col {
    background: red;
}

/**
 * @group Footers.
 */
footer {
    margin-bottom: 1em;
}
#MainFooter {
    position: fixed;
    bottom: 25px;
    right: 0;
    font-size: 8pt;
    writing-mode: vertical-rl;
    opacity: .5;
}
#MainFooter p {
    margin: .25rem;
}

#pay-application-fee,
#payment-thank-you,
#cancelled-payment {
    display: none;
}
#pay-application-fee:target,
#payment-thank-you:target,
#cancelled-payment:target {
    display: block;
}

@media screen and (max-width: 900px) {
    body {
        display: block;
        height: auto;
    }
    header {
        display: block;
    }
    body.page header {
        position: static;
    }
    body.page header::before,
    body.page header::after {
        display: none;
    }
    #Tagline {
        margin: 1em 0;
    }
    body.page main {
        max-height: unset;
        columns: initial;
        overflow: initial;
    }
    nav > ul {
        display: flex;
        padding-bottom: 0;
        padding-right: 60px;
        background-position: right 0;
        background-size: 30px;
    }
    nav > ul > li {
        padding-right: 15px;
    }
    nav li {
        flex-grow: 1;
        flex-basis: 0;
        margin-left: 0;
        border: none;
        transition: none;
    }
    nav li:hover,
    nav li:hover li:hover {
        margin-left: 0;
        border: none;
        padding-left: 0;
    }
    nav a:hover {
        text-decoration: underline dashed white;
    }
    main {
        padding: 20px 0 0 0;
    }
    img#spinner {
        top: initial;
    }
    #subjects-list li {
        display: list-item;
    }
    #subjects-list span:first-child {
        display: block;
        width: auto;
    }
    #course-list {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .workshop article img:first-of-type {
        float: none;
        width: auto;
        max-width: 100%;
        margin: 0;
    }
    div.persona-training-container {
        margin-top: 1.5em;
    }
    .workshop-list ul {
        display: block;
    }
}
