---
layout: page
---

<img class="course-poster"
    alt="{{ page.poster_title }}"
    src="{{ "/static/images/" | append: page.poster | relative_url }}"
/>
<ul>
    <li>Number of classes in course: {{ page.classes }}</li>
    <li>Typical class duration: {{ page.duration }} hours</li>
    <li>Full tuition: ${{ page.tuition }}</li>
    <li>Typical tuition ranges with <a href="{% link pricing/index.md %}#financial-aid">sliding scale financial aid</a>: ${{ page.tuition | divided_by: 4 | to_integer }}&ndash;${{ page.tuition | divided_by: 1.75 | to_integer }}</li>
</ul>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeUpAqmWZI76yAQZCaFKPGovkYv4mJpWUruMCwRMmfDh2yEzA/viewform?entry.51317831={{ page.slug | upcase | uri_escape }}">Apply for pre-enrollment in {{ page.slug | upcase }}</a>
{{ content }}
