{%- include globals.liquid -%}
<!DOCTYPE html>
<html lang="{{ lang | default: "en" }}"
      itemscope="itemscope"
      itemtype="https://schema.org/{{ site.type | default: "Thing" }}"
>
{% include head.html %}
<body class="{{ page.layout }}">
    <header>
        <h1 id="{{ site.title | slugify }}"><a href="{% link index.html %}"><img src="{% link static/images/icon.chip.transparent.png %}" title="{{ site.title }} logo, a stylized microchip spinning in place." alt="{{ site.title }}" /></a></h1>
        {% if site.tagline %}<p id="Tagline">{{ site.tagline }}</p>{% endif %}
        <nav id="MainNavigation">
            <h2 id="site-navigation">Site Navigation</h2>
            {% include site-navigation.html %}
        </nav>
    </header>
    <main{% if page.columns %} style="column-count: {{ page.columns }}; overflow: unset; max-height: unset;"{% endif %}>
        {{ content }}
    </main>
    {% include foot.html %}
</body>
</html>
