<!DOCTYPE html>
<html lang="{{ site.human_language | default: "en" }}">
{% include head.html %}
<body{% if page.backgroundColor %} style="background-color: {{ page.backgroundColor }};"{% endif %} class="{{ page.layout }}">
    <header>
        <h1><a href="{{ site.url | relative_url }}">{{ site.title }}</a></h1>
        {% if site.tagline %}<p id="Tagline">{{ site.tagline }}</p>{% endif %}
        <nav id="MainNavigation">
            {% include site-navigation.html %}
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>Website by <a href="https://shiftctrl.space/">Shift-CTRL Space</a>.</p>
    </footer>
</body>
</html>
