{%- include globals.liquid -%}
<!DOCTYPE html>
<html lang="{{ lang | default: "en" }}"
      itemscope="itemscope"
      itemtype="https://schema.org/{{ site.type | default: "Thing" }}"
>
{% include head.html %}
<body class="{{ page.layout }}">
    <header>
        <h1><a href="{{ site.url | relative_url }}">{{ site.title }}</a></h1>
        {% if site.tagline %}<p id="Tagline">{{ site.tagline }}</p>{% endif %}
        <nav id="MainNavigation">
            {% include site-navigation.html %}
        </nav>
    </header>
    <main{% if page.columns %} style="column-count: {{ page.columns }}; overflow: unset; max-height: unset;"{% endif %}>
        {{ content }}
    </main>
    <footer id="MainFooter">
        <p>Website by <a href="https://shiftctrl.space/">Shift-CTRL Space</a>.</p>
    </footer>
</body>
</html>
