---
layout: page
---

{% if empty != page.categories %}<div class="workshop-collection">{% endif %}
<img src="{{ page.image | default: "icon.chip.blue.png" | prepend: "/static/images/" | relative_url }}" alt="Poster for {{ page.title }}" />
{% if empty != page.categories %}</div>{% endif %}

{% if page.persona_matrix %}
{% include persona-matrix.html matrix=page.persona_matrix %}
{% endif %}

{{ content }}

<footer>
    <p><a href="mailto:{{ site.data.contact.email }}?subject={{ "Booking request: " | append: page.title | uri_escape }}">Book a Tech Learning Collective instructor for this workshop</a>.</p>
</footer>
