---
layout: page
---

{% if empty != page.categories %}<div class="workshop-collection">{% endif %}
<img src="{{ page.image | default: site.logo | relative_url }}" alt="Poster for {{ page.title }}" />
{% if empty != page.categories %}</div>{% endif %}

{% if page.persona_matrix %}
{% include persona-matrix.html matrix=page.persona_matrix %}
{% endif %}

{{ content }}

{% if page.videos %}
<section class="videos">
    <h1 id="video-samples">Video Samples</h1>
    <ul>
    {% for video in page.videos %}
        <li>
            <h2 id="{{ video.title | slugify }}">{{ video.title }}</h2>
            <video controls="controls" width="100%"
                src="{{ video.src | relative_url }}"
            >
                <p>
                    <a href="{{ video.src | relative_url }}">Watch {{ video.title }}.</a>
                </p>
            </video>
        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}

<footer>
    <p><a href="mailto:{{ site.data.contact.email }}?subject={{ "Booking request: " | append: page.title | uri_escape }}">Book a Tech Learning Collective instructor for this workshop</a>.</p>
</footer>
