---
layout: page
---

{% if empty != page.categories %}<div class="workshop-collection">{% endif %}
<img src="{{ page.image | default: site.logo | relative_url }}" alt="Poster for {{ page.title }}" />
{% if empty != page.categories %}</div>{% endif %}

{% if page.persona_matrix %}
{% include persona-matrix.html matrix=page.persona_matrix %}
{% endif %}

{% if page.simple_description %}
{{ page.simple_description | markdownify }}
<h2 id="detailed-description">Detailed description</h2>
{% endif %}
{{ content }}

<section>
    <h1 id="events">Upcoming &ldquo;{{ page.title }}&rdquo; Events</h1>
    {% include call-to-action-subscribe-to-calendar.html %}

    {% for event in site.events %}
    {% if page.title == event.title %}
    {% assign event_start = event.startDate | date: "%s" | plus: 0 %}
    {% assign unix_time = site.time | date: "%s" | plus: 0 %}
    {% if unix_time < event_start %}
    <ol>
        <li><a href="{{ event.url }}">{{ event.startDate | date: "%B %e, %Y at %l:%M %P (%z)" }}</a></li>
    </ol>
    {% endif %}
    {% endif %}
    {% endfor %}
</section>

{% if page.videos %}
<section class="videos">
    <h1 id="video-samples">Video Samples</h1>
    <ul>
    {% for video in page.videos %}
        <li>
            <h2 id="{{ video.title | slugify }}">{{ video.title }}</h2>
            <video controls="controls" width="100%"
                src="{{ video.src | relative_url }}"
            >
            {% if video.tracks %}
            {% for t in video.tracks %}
                <track label="{{ t.label }}" srclang="{{ t.srclang }}" kind="{{ t.kind }}"
                                 src="{{ t.src | relative_url }}"
                />
            {% endfor %}
            {% endif %}
                <p>
                    <a href="{{ video.src | relative_url }}">Watch {{ video.title }}.</a>
                </p>
            </video>
        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}

<footer>
    <p><a href="mailto:{{ site.data.contact.email }}?subject={{ "Booking request: " | append: page.title | uri_escape }}">Book a Tech Learning Collective instructor for this workshop</a>.</p>
</footer>
