---
layout: none
promoters:
    - outlet: Nonsense NYC
      email: jstark@nonsensenyc.com
    - outlet: Nerd York City
      email: tips@nerdyorkcity.com
    - outlet: Gayborhood
      email: info@gayborhood.com
    - outlet: This Week in NY
      email: thisweek.ny@timeout.com
---
{%- include globals.liquid -%}
{%- assign events = site.events | sort: "startDate" -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TLC Event Operations Status</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Promoter Outlet</th>
                <th>Promoter Email</th>
                <th>Workshop ID</th>
                <th>Event Title</th>
                <th>Event Start Date</th>
                <th>Event Start Time</th>
                <th>Event End Date</th>
                <th>Event End Time</th>
                <th>Event Start Date ISO-8601</th>
                <th>Event End Date ISO-8601</th>
                <th>Event Image URL</th>
                <th>Event Teaser</th>
                <th>Event Description</th>
                <th>Event URL</th>
                <th>Venue Name</th>
                <th>Venue Description</th>
                <th>Venue Street Address</th>
                <th>Venue Locality</th>
                <th>Venue Region</th>
                <th>Venue Postal Code</th>
                <th>Venue Country</th>
                <th>Ticket Name</th>
                <th>Ticket Price</th>
                <th>Ticket URL</th>
            </tr>
        </thead>
        <tbody>
        {% for promoter in page.promoters %}
            {% for event in events %}
{%- if event.location.first -%}
    {%- assign place = event.location -%}
{%- else -%}
    {%- assign place_index = event.location | replace: " ", "_" -%}
    {%- assign place = site.data.places[place_index] -%}
{%- endif -%}
            <tr>
                <td>{{ promoter.outlet }}</td>
                <td>{{ promoter.email }}</td>
                <td></td>
                <td>{{ event.title }}</td>
                <td>{{ event.startDate | date: "%Y-%m-%d" }}</td>
                <td>{{ event.startDate | date: "%H:%M" }}</td>
                <td>{{ event.endDate | date: "%Y-%m-%d" }}</td>
                <td>{{ event.endDate | date: "%H:%M" }}</td>
                <td>{{ event.startDate | date_to_xmlschema }}</td>
                <td>{{ event.endDate | date_to_xmlschema }}</td>
                <td>{{ event.image | absolute_url }}</td>
                <td>{{ event.teaser }}</td>
                <td>{{ event.content }}</td>
                <td>{{ event.url | absolute_url }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.description }}</td>
                <td>{{ place.address.streetAddress }}</td>
                <td>{{ place.address.addressLocality }}</td>
                <td>{{ place.address.addressRegion }}</td>
                <td>{{ place.address.postalCode }}</td>
                <td>{{ place.address.addressCountry }}</td>
                <td>{{ event.offers[0].name }}</td>
                <td>{{ event.offers[0].price }}</td>
                <td>{{ event.offers[0].url }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
