---
title: Course Catalog
backgroundColor: rgba(189, 14, 96, 1)
---

<p>The Tech Learning Collective currently offers courses in the following subjects. Choose a subject to view the available courses for that subject.</p>

{% include get-subjects.liquid %}
<ul id="subjects-list">
{% for subject in subjects %}
    <li><a href="{{ "/courses/" | append: subject | append: "/" | relative_url }}" title="View {{ site.subject_map[subject] }} courses."><span>{{ subject | upcase }}</span><span>{{ site.subject_map[subject] }}</span></a></li>
{% endfor %}
</ul>
