---
title: Courses
---

{% assign empty_list = "" | split: "," %}
{% assign course_list = site.courses | group_by: 'enrollable' %}
{% assign open_courses = course_list[0].items %}
{% assign closed_courses = course_list[1].items | default: empty_list %}
{% assign course_list = open_courses | concat: closed_courses %}
<ul id="course-list">{% for course in course_list %}
    <li>
        <h3><a href="{{ course.url }}">{{ course.title }}</a><span>{{ course.slug | upcase }}</span></h3>
        <div class="course-meta">
            <ul>
                <li class="course-enrollable">
                    <span class="label">Enrollment</span>: {% if course.enrollable %}Open{% else %}Closed{% endif %}
                </li>
                {% if course.topics %}
                <li>
                    <p class="label">Topics covered:</p>
                    <ul>{% for topic in course.topics %}
                        <li>{{ topic }}</li>
                    {% endfor %}</ul>
                </li>
                {% endif %}
            </ul>
        </div><!-- .course-meta -->
        {{ course.content }}
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeUpAqmWZI76yAQZCaFKPGovkYv4mJpWUruMCwRMmfDh2yEzA/viewform?entry.51317831={{ course.slug | upcase | uri_escape }}">Register</a></p>
    </li>
{% endfor %}</ul>
